@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: #333333;
  font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
  letter-spacing: 0.12rem;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents {
  line-height: 1.9;
}

/*-----------------------------------------------
定義
-------------------------------------------------*/
.ttl2, #about .about-wrapper .about__ttl h2, #work .work--bgcolor .work-wrapper .work__ttl h2, #contact .contact-wrapper .contact__ttl h2 {
  font-family: 'Unna', serif;
  font-size: 4rem;
  position: relative;
}

.ttl2::before, #about .about-wrapper .about__ttl h2::before, #work .work--bgcolor .work-wrapper .work__ttl h2::before, #contact .contact-wrapper .contact__ttl h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: black;
}

/*-----------------------------------------------
header
-------------------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .header {
    padding: 25px 0;
  }
}

.header .pc-nav {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header .pc-nav {
    display: none;
  }
}

.header .pc-nav ul {
  text-align: right;
}

.header .pc-nav ul li {
  display: inline-block;
  padding-right: 20px;
}

.header .pc-nav ul li:last-of-type {
  padding-right: 0;
}

.header .pc-nav ul li a {
  color: #333333;
  padding-bottom: 10px;
}

.header .pc-nav ul li a:hover {
  border-bottom: 1px solid #333333;
}

.sp-nav {
  display: none;
  margin-top: 20px;
}

.sp-nav .sp-nav__menu li {
  padding: 10px 20px 10px;
}

.sp-nav .sp-nav__menu li:last-of-type {
  padding-bottom: 0;
}

.sp-nav .sp-nav__menu li a {
  color: #333333;
}

#sp-nav__btn {
  display: none;
}

@media (max-width: 768px) {
  #sp-nav__btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
  }
}

#sp-nav__btn .menu-trigger {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 25px;
  height: 50px;
}

#sp-nav__btn .menu-trigger span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  border-radius: 4px;
}

#sp-nav__btn .menu-trigger span:nth-of-type(1) {
  top: 18px;
}

#sp-nav__btn .menu-trigger span:nth-of-type(2) {
  top: 25px;
}

#sp-nav__btn .menu-trigger span:nth-of-type(3) {
  top: 33px;
}

/*-----------------------------------------------
コンテンツ
-------------------------------------------------*/
.contents {
  padding-top: 95px;
}

@media (max-width: 768px) {
  .contents {
    padding-top: 50px;
  }
}

.main {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.main .main-wrapper {
  position: relative;
  height: 550px;
}

@media (max-width: 1100px) {
  .main .main-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 576px) {
  .main .main-wrapper {
    height: 240px;
  }
}

.main .main-wrapper .main__img {
  position: absolute;
  right: 0;
  z-index: 0;
}

@media (max-width: 576px) {
  .main .main-wrapper .main__img img {
    width: 320px;
  }
}

.main .main-wrapper .main__ttl {
  font-family: 'Unna', serif;
  border-bottom: 5px solid #333333;
  position: absolute;
  left: 0;
  bottom: 70px;
  z-index: 1;
  font-size: 10rem;
}

@media (max-width: 1100px) {
  .main .main-wrapper .main__ttl {
    left: 20px;
  }
}

@media (max-width: 768px) {
  .main .main-wrapper .main__ttl {
    font-size: 6.4rem;
  }
}

@media (max-width: 576px) {
  .main .main-wrapper .main__ttl {
    font-size: 3.6rem;
    bottom: 30px;
  }
}

#about {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding-top: 120px;
}

@media (max-width: 768px) {
  #about {
    padding-top: 80px;
  }
}

#about .about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 1100px) {
  #about .about-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  #about .about-wrapper {
    display: block;
  }
}

#about .about-wrapper .about__ttl--bg {
  background: url(../img/bg_font.png);
  background-repeat: no-repeat;
  background-size: 450px;
  position: absolute;
  width: 450px;
  height: 158px;
  background-position: top left;
  left: -15px;
  top: 50px;
  z-index: -1;
}

@media (max-width: 768px) {
  #about .about-wrapper .about__ttl--bg {
    background-size: 300px;
    width: 300px;
    height: 100px;
  }
}

#about .about-wrapper .about__ttl {
  width: 50%;
}

@media (max-width: 768px) {
  #about .about-wrapper .about__ttl {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #about .about-wrapper .about__ttl h2 {
    font-size: 3.8rem;
  }
}

@media (max-width: 576px) {
  #about .about-wrapper .about__ttl h2 {
    font-size: 2.6rem;
  }
}

#about .about-wrapper .about__text {
  width: 50%;
}

@media (max-width: 768px) {
  #about .about-wrapper .about__text {
    width: 100%;
    margin-top: 20px;
  }
}

#about .about-wrapper .about__text h3 {
  margin: 20px 0 10px 0;
  display: inline-block;
  font-weight: normal;
  position: relative;
  padding: 0 20px;
}

#about .about-wrapper .about__text h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 15px;
  border-top: solid 1px #333333;
  border-left: solid 1px #333333;
}

#about .about-wrapper .about__text h3::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 15px;
  border-bottom: solid 1px #333333;
  border-right: solid 1px #333333;
}

#work {
  padding-top: 120px;
}

@media (max-width: 768px) {
  #work {
    padding-top: 80px;
  }
}

#work .work--bgcolor {
  background-color: #bcc8d6;
}

#work .work--bgcolor .work-wrapper {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1100px) {
  #work .work--bgcolor .work-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 576px) {
  #work .work--bgcolor .work-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#work .work--bgcolor .work-wrapper .work__ttl {
  text-align: center;
  position: relative;
  display: inline-block;
}

#work .work--bgcolor .work-wrapper .work__ttl h2 {
  margin: 0 auto;
}

@media (max-width: 768px) {
  #work .work--bgcolor .work-wrapper .work__ttl h2 {
    font-size: 3.8rem;
  }
}

@media (max-width: 576px) {
  #work .work--bgcolor .work-wrapper .work__ttl h2 {
    font-size: 2.6rem;
  }
}

#work .work--bgcolor .work-wrapper .container {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 66px;
          column-gap: 66px;
}

@media (max-width: 768px) {
  #work .work--bgcolor .work-wrapper .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    margin-top: 40px;
  }
}

#work .work--bgcolor .work-wrapper .container .item {
  position: relative;
}

#work .work--bgcolor .work-wrapper .container .item:hover .mask {
  opacity: 1;
  /* マスクを表示する */
}

#work .work--bgcolor .work-wrapper .container .item .mask {
  width: 100%;
  height: calc(100% - 9px);
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.6);
  /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#work .work--bgcolor .work-wrapper .container .item .mask .caption {
  font-size: 130%;
  text-align: center;
  padding-top: 38%;
  color: #fff;
}

#work .work--bgcolor .work-wrapper .container .item img {
  width: 100%;
}

#contact {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding-top: 120px;
}

@media (max-width: 768px) {
  #contact {
    padding-top: 80px;
  }
}

#contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  #contact .contact-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  #contact .contact-wrapper {
    display: block;
  }
}

#contact .contact-wrapper .contact__ttl {
  width: 30%;
}

@media (max-width: 768px) {
  #contact .contact-wrapper .contact__ttl {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #contact .contact-wrapper .contact__ttl h2 {
    font-size: 3.8rem;
  }
}

@media (max-width: 576px) {
  #contact .contact-wrapper .contact__ttl h2 {
    font-size: 2.6rem;
  }
}

#contact .contact-wrapper .contact__form {
  width: 70%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  #contact .contact-wrapper .contact__form {
    width: 100%;
  }
}

#contact .contact-wrapper .contact__form input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  height: 37px;
}

#contact .contact-wrapper .contact__form #name {
  margin-bottom: 20px;
}

#contact .contact-wrapper .contact__form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  height: 100px;
}

#contact .contact-wrapper .contact__form .btn {
  text-align: right;
  margin-top: 20px;
}

#contact .contact-wrapper .contact__form .btn input[type="submit"] {
  padding: 15px 40px;
  background-color: #bcc8d6;
  color: #333;
  border-style: none;
  cursor: pointer;
}

/*-----------------------------------------------
footer
-------------------------------------------------*/
footer {
  background-color: #bcc8d6;
  margin-top: 120px;
  width: 100%;
}

@media (max-width: 768px) {
  footer {
    margin-top: 80px;
  }
}

footer p {
  text-align: center;
  padding: 40px 0;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */